body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.header {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.chat-box {
  width: 400px;
  margin: 100px auto;
  text-align: center;
}

#chat {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
}
